# distributed_channel_refresh:
#   class: Aji::Queues::DistributedChannelRefresh
#   cron: "0 2 * * *"
#   args:
#   description: "Update all channels across 24 hours time."

# refresh_trending_channels:
#   class: Aji::Queues::RefreshTrendingChannels
#   cron: "*/15 * * * *"
#   args:
#   description: "Update all trending channels."

kill_bill:
  class: Aji::Queues::KillBill
  cron: "* * * * * 2000"
  args:
  description: "Remove Bill's test youtube, twitter and facebook accounts for debugging."

invalidate_tokens:
  class: Aji::Queues::InvalidateTokens
  cron: "* * * * * 2000"
  args:
  description: "Invalidate all user tokens for testing purposes."

kill_chris:
  class: Aji::Queues::KillChris
  cron: "* * * * * 2000"
  args:
  description: "Remove Chris' test youtube, twitter and facebook accounts for debugging."
