# Nothin' here yet.
#
# Aji Beta Twitter keys.
development:
  CONSUMER_KEY: "Hh1MA1vXVZaN8sjIX2tkjA"
  CONSUMER_SECRET: "s8b7fghL0JbHfK3lBDV6nTF61TtglgMonkgAL8y790"
  TLD: "smackaho.st"
  REDISTOGO_URL: "redis://localhost/7"
  DATABASE_URL: "postgres://localhost/aji_dev"
  MAX_RECENT_VIDEO_IDS_IN_TRENDING: 1000
  MAX_VIDEOS_IN_TRENDING: 100
  TZ: "UTC"

test:
  CONSUMER_KEY: ""
  CONSUMER_SECRET: ""
  TLD: "smackaho.st"
  REDISTOGO_URL: "redis://localhost/9"
  DATABASE_URL: "postgres://localhost/aji_test"
  MAX_RECENT_VIDEO_IDS_IN_TRENDING: 1000
  MAX_VIDEOS_IN_TRENDING: 100
  TZ: "UTC"
