# Nothin' here yet.
#
# Aji Beta Twitter keys.
development:
  # TWITTER Beta
  # CONSUMER_KEY: "Hh1MA1vXVZaN8sjIX2tkjA"
  # CONSUMER_SECRET: "s8b7fghL0JbHfK3lBDV6nTF61TtglgMonkgAL8y790"

  # Twitter Local
  CONSUMER_KEY: "RWUyehmqjKRBMSlVTeZDw"
  CONSUMER_SECRET: "BglumdMZZoYjosQIV8acdf9twivPrH15jE6AL2jmw"

  # FACEBOOK
  APP_ID: "147264905366497"
  APP_SECRET: "69e12456a7c11a35c653e325c7e8c249"

  # YOUTUBE
  YOUTUBE_KEY: "AI39si6vm0IJIRknhyygB3SfAk3ZlSWY79qZQe8Qn7XTLxKV-X-13a0BasM9yYgXHR7hMBeWQXD0610rRCQNaEqUUkSaZW-PoA"
  YOUTUBE_OA_KEY: "api.nowbox.com"
  YOUTUBE_OA_SECRET: "r1XvyGwsP2tUiPWBDsF55-xY"

  TLD: "smackaho.st"
  REDISTOGO_URL: "redis://localhost/7"
  DATABASE_URL: "postgres://localhost/aji_dev"
  MAX_RECENT_VIDEO_IDS_IN_TRENDING: 1000
  MAX_VIDEOS_IN_TRENDING: 100
  TZ: "UTC"
  INDEXTANK_API_URL: "http://:vHq8sbT7949Laz@d7voe.api.indextank.com"

test:
  # TWITTER
  CONSUMER_KEY: "XDYm9fcC4Xb3XYvJpMNw"
  CONSUMER_SECRET: "93ChiN5zfB1o04cvZgNoP6mmanVnKRfEKUY6vX03A"

  # FACEBOOK
  APP_ID: "147264905366497"
  APP_SECRET: "69e12456a7c11a35c653e325c7e8c249"

  # YOUTUBE
  YOUTUBE_KEY: "AI39si6vm0IJIRknhyygB3SfAk3ZlSWY79qZQe8Qn7XTLxKV-X-13a0BasM9yYgXHR7hMBeWQXD0610rRCQNaEqUUkSaZW-PoA"
  YOUTUBE_OA_KEY: "api.nowbox.com"
  YOUTUBE_OA_SECRET: "r1XvyGwsP2tUiPWBDsF55-xY"

  TLD: "nowbox.test"
  REDISTOGO_URL: "redis://localhost/9"
  DATABASE_URL: "postgres://localhost/aji_test"
  MAX_RECENT_VIDEO_IDS_IN_TRENDING: 1000
  MAX_VIDEOS_IN_TRENDING: 100
  TZ: "UTC"
  INDEXTANK_API_URL: "http://:vHq8sbT7949Laz@d7voe.api.indextank.com"
