development:
  # TWITTER Beta
  # CONSUMER_KEY: "Hh1MA1vXVZaN8sjIX2tkjA"
  # CONSUMER_SECRET: "s8b7fghL0JbHfK3lBDV6nTF61TtglgMonkgAL8y790"

  # Twitter Local
  CONSUMER_KEY: "RWUyehmqjKRBMSlVTeZDw"
  CONSUMER_SECRET: "BglumdMZZoYjosQIV8acdf9twivPrH15jE6AL2jmw"

  # FACEBOOK
  APP_ID: "147264905366497"
  APP_SECRET: "69e12456a7c11a35c653e325c7e8c249"

  # YOUTUBE
  YOUTUBE_KEY_AUTH: "AI39si6vm0IJIRknhyygB3SfAk3ZlSWY79qZQe8Qn7XTLxKV-X-13a0BasM9yYgXHR7hMBeWQXD0610rRCQNaEqUUkSaZW-PoA"
  YOUTUBE_KEY_GLOBAL: "AI39si5CP89uZx9Bkl3h2aP6Sys2pWohPJPi-a6IVNsTdk5g6AUcIQadlXbTt38eKaJcx_YxPPj5FFxrw3ft16N7N5dp_KZgzw"
  YOUTUBE_KEY_AUTH_POST: "AI39si4CUmVJSHUvVBrxXYRrVWbu4XKwuS2FGS9eacCykE-P5Ea6_VRPJBTkRH3cHZ7ju-PPAW6YfkCjwp0W1NTXpKqLujQXag"
  YOUTUBE_OA_KEY: "api.nowbox.com"
  YOUTUBE_OA_SECRET: "r1XvyGwsP2tUiPWBDsF55-xY"

  TLD: "smackaho.st"
  CLIENT_SECRET: "j3sBP0aRG8neHoWe7MtLDp6aPQYQUQjhtIh9cVFjmiQPvdYFpWi2PbxVZrpwa7t1YrMzWtppR1crSyNV3w"
  REDISTOGO_URL_2: "redis://localhost/7"
  DATABASE_URL: "postgres://localhost/aji_dev"
  MAX_RECENT_VIDEO_IDS_IN_TRENDING: 1000
  MAX_VIDEOS_IN_TRENDING: 100
  TZ: "UTC"
  INDEXTANK_API_URL: "http://:vHq8sbT7949Laz@d7voe.api.indextank.com"

test:
  # TWITTER
  CONSUMER_KEY: "XDYm9fcC4Xb3XYvJpMNw"
  CONSUMER_SECRET: "93ChiN5zfB1o04cvZgNoP6mmanVnKRfEKUY6vX03A"

  # FACEBOOK
  APP_ID: "147264905366497"
  APP_SECRET: "69e12456a7c11a35c653e325c7e8c249"

  # YOUTUBE
  YOUTUBE_KEY_AUTH: "AI39si6vm0IJIRknhyygB3SfAk3ZlSWY79qZQe8Qn7XTLxKV-X-13a0BasM9yYgXHR7hMBeWQXD0610rRCQNaEqUUkSaZW-PoA"
  YOUTUBE_KEY_GLOBAL: "AI39si5CP89uZx9Bkl3h2aP6Sys2pWohPJPi-a6IVNsTdk5g6AUcIQadlXbTt38eKaJcx_YxPPj5FFxrw3ft16N7N5dp_KZgzw"
  YOUTUBE_KEY_AUTH_POST: "AI39si4CUmVJSHUvVBrxXYRrVWbu4XKwuS2FGS9eacCykE-P5Ea6_VRPJBTkRH3cHZ7ju-PPAW6YfkCjwp0W1NTXpKqLujQXag"
  YOUTUBE_OA_KEY: "api.nowbox.com"
  YOUTUBE_OA_SECRET: "r1XvyGwsP2tUiPWBDsF55-xY"

  TLD: "nowbox.test"
  CLIENT_SECRET: "j3sBP0aRG8neHoWe7MtLDp6aPQYQUQjhtIh9cVFjmiQPvdYFpWi2PbxVZrpwa7t1YrMzWtppR1crSyNV3w"
  REDISTOGO_URL_2: "redis://localhost/9"
  DATABASE_URL: "postgres://localhost/aji_test"
  MAX_RECENT_VIDEO_IDS_IN_TRENDING: 1000
  MAX_VIDEOS_IN_TRENDING: 100
  TZ: "UTC"
  INDEXTANK_API_URL: "http://:vHq8sbT7949Laz@d7voe.api.indextank.com"

production:
  APP_ID: "147264905366497"
  APP_SECRET: "69e12456a7c11a35c653e325c7e8c249"
  BUNDLE_WITHOUT: "test"
  CLIENT_SECRET: "j3sBP0aRG8neHoWe7MtLDp6aPQYQUQjhtIh9cVFjmiQPvdYFpWi2PbxVZrpwa7t1YrMzWtppR1crSyNV3w"
  CONSUMER_KEY: "XDYm9fcC4Xb3XYvJpMNw"
  CONSUMER_SECRET: "93ChiN5zfB1o04cvZgNoP6mmanVnKRfEKUY6vX03A"
  EXCEPTIONAL_API_KEY: "a3bb570da188cfa8ed81a1b357b46e5d364bf0ee"
  HIREFIREAPP_TOKEN: "726261a639c5f3790bcd790e4019283d02acb6cc"
  INDEXTANK_API_URL: "http://:vHq8sbT7949Laz@d7voe.api.indextank.com"
  LANG: "en_US.UTF-8"
  MAX_RECENT_VIDEO_IDS_IN_TRENDING: 10000
  MAX_VIDEOS_IN_TRENDING: 100
  NEW_RELIC_APP_NAME: "Aji Backend"
  NEW_RELIC_ID: 55570
  NEW_RELIC_LICENSE_KEY: "fb27287c0be0229a4ea3436028662bf75120b1ff"
  NEW_RELIC_LOG: "stdout"
  RACK_ENV: "production"
  RAILS_ENV: "production"
  RESQUE_SCHEDULE: "refresh_all_channels:
  class: Aji::Queues::RefreshAllChannels
         cron: \"0 * * * *\"
         args:
  description: \"Update all channels.\"

       refresh_trending_channels:
class: Aji::Queues::RefreshTrendingChannels
       cron: \"*/15 * * * *\"
       args:
description: \"Update all trending channels.\"

       kill_bill:
class: Aji::Queues::KillBill
       cron: \"* * * * * 2000\"
       args:
description: \"Remove Bill's test twitter and facebook accounts for debugging.\""
  TLD: "nowbox.com"
  TZ: "America/Los_Angeles"
  YOUTUBE_KEY_AUTH: "AI39si6vm0IJIRknhyygB3SfAk3ZlSWY79qZQe8Qn7XTLxKV-X-13a0BasM9yYgXHR7hMBeWQXD0610rRCQNaEqUUkSaZW-PoA"
  YOUTUBE_KEY_GLOBAL: "AI39si4U5TxxdmzLOMnGLiClGmJIAP1I9UBeTXtwX5iVSn1cgpXB0xQAMbi0QuOCJ8LjBcKEivmhO557_Bn1WhhyAz7hWSsmMQ"
  YOUTUBE_OA_KEY: "api.nowbox.com"
  YOUTUBE_OA_SECRET: "r1XvyGwsP2tUiPWBDsF55-xY"

staging:
  APP_ID: "220704664661437"
  APP_SECRET: "da9f5422fba3f8caf554d6bd927dc430"
  BUNDLE_WITHOUT: "test"
  CLIENT_SECRET: "j3sBP0aRG8neHoWe7MtLDp6aPQYQUQjhtIh9cVFjmiQPvdYFpWi2PbxVZrpwa7t1YrMzWtppR1crSyNV3w"
  CONSUMER_KEY: "wUhKhUtZKz39SvGRvcEXQ"
  CONSUMER_SECRET: "rJ0XLCxMChhcO0GK3vhRRLTg42T24m5rMov30Oav4ww"
  INDEXTANK_API_URL: "http://:vHq8sbT7949Laz@d7voe.api.indextank.com"
  LANG: "en_US.UTF-8"
  MAX_RECENT_VIDEO_IDS_IN_TRENDING: 10000
  MAX_VIDEOS_IN_TRENDING: 100
  NEW_RELIC_APP_NAME: "Aji Backend - Staging"
  NEW_RELIC_ID: 55570
  NEW_RELIC_LICENSE_KEY: "fb27287c0be0229a4ea3436028662bf75120b1ff"
  NEW_RELIC_LOG: "stdout"
  RACK_ENV: "production"
  RAILS_ENV: "production"
  TLD: "staging.nowbox.com"
  TZ: "America/Los_Angeles"
  YOUTUBE_KEY_AUTH: "AI39si6vm0IJIRknhyygB3SfAk3ZlSWY79qZQe8Qn7XTLxKV-X-13a0BasM9yYgXHR7hMBeWQXD0610rRCQNaEqUUkSaZW-PoA"
  YOUTUBE_KEY_GLOBAL: "AI39si5CP89uZx9Bkl3h2aP6Sys2pWohPJPi-a6IVNsTdk5g6AUcIQadlXbTt38eKaJcx_YxPPj5FFxrw3ft16N7N5dp_KZgzw"
  YOUTUBE_OA_KEY: "api.staging.nowbox.com"
  YOUTUBE_OA_SECRET: "qE3pU7ttofm-VR82pycH7YM-"
  STAGING: true
