<% if @channels %>
<img border="0" src="http://beta.nowbox.com/images/email/spacer.gif" width="1" height="30" class="divider"><br>

<layout label="Gallery highlights">
	<table width="100%" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td width="100%" bgcolor="">

				<table width="100%" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td bgcolor="" class="contentblock">

						<h1 class="secondary"><strong><singleline label="Gallery title">Recently Updated Channels</singleline></strong></h1>

					</td>
				</tr>
				</table>

			</td>
		</tr>
	</table>

	<table width="100%" cellpadding="0" cellspacing="0" border="0">
		<tr>

			<td width="100%" bgcolor="">

				<table cellpadding="5" cellspacing="0" border="0">

				<tr>
					<% @channels.each do |channel| %>
					<td>
						<img src="<%= channel.thumbnail_uri %>" width="50" height="50" class="galleryimage" label="<%= channel.title %>"></td>
					<% end %>
				</tr>
				
				</table>

			</td>
		</tr>
	</table> 
</layout>
<% end %> 
