<div id="404" class="wrapper">
	<h1>404</h1>
	
	<div id="error_reason">
		<p>The page you are trying to find is either <b>lost, unavailable, non-existant, without their cellphone charger, in a relationship, abducted by aliens, possessing illegal content, time travelling, Elvis, in the washroom, or just really shy.</b></p>
		<p>Don't worry, we've come up with a few backup plans for you!</p>
	</div>
	
	<ul id="error_outcome">
	
		<li>
			<a class="image round-corners-10" href="/download">
				<img src="/images/graphics/ipad_minimal_black.png" height="130px"/>
							<div class="label">
				<b>Download</b> our app for non-stop entertainment
			</div>
			</a>

		</li>

		<li>
			<a class="image round-corners-10" href="/random">
				<img src="/images/graphics/aji-icons_shuffle.png" height="130px"/>
							<div class="label">
				<b>Watch videos</b> being shared right now!
			</div>
			</a>

		</li>
		
		<li>
			<a class="image round-corners-10" href="http://www.flickr.com/search/show/?q=scenery">
				<img src="/images/graphics/aji-icons_sun.png" height="130px" style="margin-top:0px;"/>
							<div class="label">
				<b>Go outside!</b><br/>The Internet will still be here
			</div>
			</a>

		</li>
		
		<div class="clearfix"></div>				
	</ul>
</div>