<div id="call_to_action_download" class="round-corners-5">
	<div class="image">
		<a href="./download"><img src="./images/graphics/ipad-chrome-small.png" height="48px" /></a>
	</div>
	<div class="blurb">
		<p style="font-size: 16px; color: #777;">Get our free iPad app and watch from the comfort of your couch</p>
		<p style="font-size: 12px; color: #999;">Its revolutionary and delicious. <a href="./tour">Find out more.</a></p>
	</div>
	<a class="download button round-corners-20" href="./download">
		Free Download
	</a>
	<div class="clearfix"></div>
</div>