<div id="call_to_action_quote" class="round-corners-5">
	<div class="quoter_image">
		<img src="./images/graphics/aplusk.jpg" width="48px" height="48px"/>
	</div>
	<div class="blurb">
		<div class="quote">"I don't watch TV anymore, I watch Nowbox"</div>
		<div class="quoter">Ashton Kutcher</div>
	</div>
	<a class="download button round-corners-10" href="./download">
		Free Download
	</a>
	<div class="clearfix"></div>
</div>