<div class="wrapper">
	<div class="fblike">
		<%= erb :_fblike %>
	</div>

	<div class="plusone">
		<g:plusone size="medium" href="http://nowbox.com"></g:plusone>
	</div>	
		
	<div class="follow">
		<%= erb :_follow %>
	</div>

	<ul>
	
    <!-- <li>
      <a href="http://tech.nowbox.com/" target="_blank">Tech</a>
    </li> -->

		<li>
			<a href="http://blog.nowbox.com/">Blog</a>
		</li>
				
		<li>
			<a href="/jobs">Jobs</a>
		</li>

		<li>
			<a href="/press">Press</a>				
		</li>
			
		<li>
			<a href="/about">About</a>
		</li>
	
		<li>
			<a href="/">Home</a>				
		</li>
			
		<div class="clearfix"></div>
	</ul>
	<div class="clearfix"></div>
	
	<div id="mixpanel">
		<a href="http://mixpanel.com/f/partner"><img src="http://mixpanel.com/site_media/images/partner/badge_light.png" alt="Web Analytics" /></a>
	</div>
	
	<div class="clearfix"></div>
	
</div>