<a id="logo" href="/v/">
	<img src="./images/nowmov-logotype-blue.png" height="25px"/>
</a>
<ul>

	<li>
		<a href="./tour">Tour</a>				
	</li>
	
	<li>
		<a href="./about">About</a>
	</li>

	<li>
		<a href="./">Home</a>				
	</li>
		
	<div class="clearfix"></div>
</ul>
<div class="clearfix"></div>