<div class="wrapper">
	<a id="logo" href="./">
		<% if @path == 'home' %>
			<img src="/images/logos/nowbox-new-logotype-yellow.png" height="25px"/>
		<% else %>
			<img src="/images/logos/nowbox-new-logotype-yellow.png" height="25px"/>
		<% end %>
	</a>
	<ul>

		<li style="display: none;">
			<a style="color: #0099CC;" href="/">Download</a>
		</li>

    <!-- <li>
      <a href="http://tech.nowbox.com/">Tech</a>
    </li> -->


    <!-- <li>
      <a href="http://blog.nowbox.com/">Blog</a>
    </li> -->

		<li>
			<a href="/jobs">Jobs</a>
		</li>


		<li>
			<a href="/press">Press</a>
		</li>

		<li>
			<a href="/about">About</a>
		</li>

		<li>
			<a href="/">Home</a>
		</li>

		<div class="clearfix"></div>
	</ul>
	<div class="clearfix"></div>

</div>
