<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>Nowmov</title>
<meta name="description" content="Want to see the future of video entertainment? Nowmov is launching soon, signup for an early invite.">
<meta name="author" content="Nowmov">

<meta name="viewport" content="width=800, initial-scale=0.45, minimum-scale=0.45">
	
<link rel="shortcut icon" href="/favicon.ico">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">

<link rel="stylesheet" href="./css/style.css?v=2" type="text/css">
<link rel="stylesheet" href="./css/buttons.css?v=2" type="text/css">
<link href="./css/main.css?v=2" type="text/css" rel="stylesheet" >
<link href='http://fonts.googleapis.com/css?family=Raleway:100&v2' rel='stylesheet' type='text/css'>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script src="./js/libs/modernizr-1.7.min.js"></script>
