<a href="http://twitter.com/share" class="twitter-share-button"
  data-url="http://nowbox.com"
  data-via="nowbox"
  data-text="Nowbox is launching soon! Rethink video entertainment for the iPad and iPhone."
  data-related="fahdoo:Nowbox UX Engineer"
  data-count="horizontal">Tweet</a>