<a href="http://twitter.com/share" class="twitter-share-button"
  data-url="http://nowmov.com"
  data-via="nowmov"
  data-text="Nowmov is launching soon! Rethink video entertainment for the iPad and iPhone."
  data-related="fahdoo:Nowmov UX Engineer"
  data-count="horizontal">Tweet</a>