<a href="http://twitter.com/share" class="twitter-share-button"
  data-url="http://nowmov.com"
  data-via="nowmov"
  data-text="Nowmov: Your Personal Entertainment Guide on the iPad"
  data-related="fahdoo:Nowmov UX Engineer"
  data-count="horizontal">Tweet</a>