<!--
<div id="main_photo_wrapper" class="shorter">
	<div id="main_photo">
		<img src="/images/photos/89100020.jpg" width="100%" />
	</div>
	<div class="taglinebox gradient">
		<div id="tagline">Hello</div>
	</div>
</div>
-->
<div class="divider mistyblue-tile"></div>

<div id="about" class="wrapper">

	<ul class="section">
		<h2>The Team</h2>
		<li>
			<div class="image">
				<a target="_blank" href="http://twitter.com/dapunster"><img src="/images/team/thomas.png"/></a>
			</div>
			<div class="bio">
				<div class="identity"><a target="_blank" href="http://twitter.com/dapunster">Thomas Pun</a><span class="role">Founder</span></div>
				<p class="description">
					Thomas looks after which trending videos get picked. He started watching videos at work all day at Apple where his team was responsible for H.264 and making great looking videos. He also worked on the iTunes Store; from the first video iPod to the movie store launch.
				</p>
				<p class="email"><a href="mailto:thomas@nowbox.com">thomas@nowbox.com</a></p>
			</div>
			<div class="clearfix"></div>
		</li>

		<li>
			<div class="image">
				<a target="_blank" href="http://twitter.com/_nuclearsammich"><img src="/images/team/steven.png"/></a>
			</div>
			<div class="bio">
				<div class="identity"><a target="_blank" href="http://twitter.com/_nuclearsammich">Steven! Ragnar&ouml;k</a><span class="role">Swiss Army Knife</span></div>
				<p class="description">
					Steven! makes sure everything just works. Whenever something needs doing he has something that can do the job. Presently studying Math and Computer Science at San Jos&eacute; State University, he is glad to be doing something useful with his studies instead of making espresso.
				</p>
				<p class="email"><a href="mailto:steven@nowbox.com">steven@nowbox.com</a></p>
			</div>
			<div class="clearfix"></div>
		</li>

	<li>
			<div class="image">
				<a target="_blank" href="http://twitter.com/billibala"><img src="/images/team/bill.jpg"/></a>
			</div>
			<div class="bio">
				<div class="identity"><a target="_blank" href="http://twitter.com/billibala">Bill So</a><span class="role">iOS Developer</span></div>
				<p class="description">
				  Apple + design thinking fanboy
				</p>
				<p class="email"><a href="mailto:bill@nowbox.com">bill@nowbox.com</a></p>
			</div>
			<div class="clearfix"></div>
		</li>

  	<li>
  			<div class="image">
  				<a target="_blank" href="http://twitter.com/haugli"><img src="/images/team/chris.jpg"/></a>
  			</div>
  			<div class="bio">
  				<div class="identity"><a target="_blank" href="http://twitter.com/haugli">Chris Haugli</a><span class="role">iOS Developer</span></div>
  				<p class="description">
  				  Chris is working on the iOS frontend, making sure the NOWBOX app is as slick as possible. He recently arrived in California from the frigid shores of Norway and has been working on putting TV on smartphones and tablets for the last two years.
  				</p>
  				<p class="email"><a href="mailto:chris@nowbox.com">chris@nowbox.com</a></p>
  			</div>
  			<div class="clearfix"></div>
  		</li>


		<li>
			<div class="image">
				<a target="_blank" href="http://twitter.com/sarapantera"><img src="/images/team/sara.jpg"/></a>
			</div>
			<div class="bio">
				<div class="identity"><a target="_blank" href="http://twitter.com/sarapantera">Sara Donchey</a><span class="role">Social Media Manager</span></div>
				<p class="description">
					Sara is the woman behind the tweets (and Facebook posts). She loves to keep everyone in the loop with the latest company news and coolest videos on Twitter and Facebook. Sara is currently finishing her bachelor's degree in online journalism, and is only a tweet away--24 hours a day, seven days a week.
				</p>
				<p class="email"><a href="mailto:sara@nowbox.com">sara@nowbox.com</a></p>
			</div>
			<div class="clearfix"></div>
		</li>

		<li>
			<div class="image">
				<a href="/jobs" class="kenburns"><img src="/images/graphics/no_profile.jpg"/></a>
			</div>
			<div class="bio">
				<div class="identity">You<span class="role">Awesome Creative Hacker</span></div>
				<p class="description">
					You are as smart as you are creative. You love the increased responsibility of working at a small startup and aren't afraid to tackle problems no one has ever solved.
					Check out our <a href="./jobs">jobs description</a> for what positions we are hiring for and get in touch with us.
				</p>
			</div>
			<div class="clearfix"></div>
		</li>
	</ul>

	<div class="section">
		<h2>Contact Us</h2>
		<p>
			Please say <a href="mailto:hi@nowbox.com">hi@nowbox.com</a>
		</p>
	</div>

  <div class="section">
    <p>NOWBOX is a wholly owned subsidiary and division of Pipely Inc.</p>
  </div>
</div>
