<div id="main_photo_wrapper">
	<div id="main_photo">
		<img src="/images/photos/89100020.jpg" width="100%" />
	</div>
	<div id="tagline">Hello</div>
</div>
<div class="divider bright-blue"></div>

<div id="about" class="wrapper">

	<div class="bare section">
			<p>Its the perfect time to revolutionize video discovery and consumption with the emergence of <b>portable devices</b> that are always connected, <b>amazing daily content</b> created by professionals and amateurs, and social networks that let you <b>discover entertainment</b> like never before.</p>
	</div>				
	<ul class="section">
		<h2>The Team</h2>	
		<li>
			<div class="image">
				<a target="_blank" href="http://twitter.com/dapunster"><img src="./images/team/thomas.png"/></a>
			</div>
			<div class="bio">
				<div class="identity">Thomas Pun<span class="role">Founder</span></div>
				<p class="description">
					Thomas looks after which trending videos get picked. He started watching videos at work all day at Apple where his team was responsible for h264 and making great looking videos. He also worked on the iTunes Store; from the first video iPod to the movie store launch.
				</p>
				<p class="email"><a href="mailto:tpun@nowmov.com">tpun@nowmov.com</a></p>
			</div>
			<div class="clearfix"></div>
		</li>

		<li>
			<div class="image">
				<a class="twitter" target="_blank" href="http://twitter.com/fahdoo"><img src="./images/team/fahd.jpg"/></a>
			</div>
			<div class="bio">
				<div class="identity">Fahd Butt<span class="role">User Experience Engineer</span></div>
				<p class="description">
					Fahd makes sure every pixel makes you feel happy. You can also find him photoshooting with his 40 year old Canon F1 SLR, writing poetry or watching Day[9]. He was the founder and CTO of Canadian startup Thinkpanda.
				</p>
				<p class="email"><a href="mailto:fahdoo@nowmov.com">fahdoo@nowmov.com</a></p>
			</div>
			<div class="clearfix"></div>
		</li>
		
		<li>
			<div class="image">
				<a target="_blank" href="http://twitter.com/_nuclearsammich"><img src="./images/team/steven.png"/></a>
			</div>
			<div class="bio">
				<div class="identity">Steven! Ragnar&ouml;k<span class="role">Swiss Army Knife</span></div>
				<p class="description">
					Steven! makes sure everything just works. Whenever something needs doing he has something that can do the job. Presently studying Math and Computer Science at San Jos&eacute; State University, he is glad to be doing something useful with his studies instead of making espresso.
				</p>
				<p class="email"><a href="mailto:smll@nowmov.com">smll@nowmov.com</a></p>
			</div>
			<div class="clearfix"></div>
		</li>		
		
		<li>
			<div class="image">
				<a href="./jobs"><img src="./images/graphics/no_profile.jpg"/></a>			
			</div>
			<div class="bio">
				<div class="identity">You<span class="role">Awesome Creative Hacker</span></div>
				<p class="description">
					You are as smart as you are creative. You love the increased responsibility of working at a small startup and aren't afraid to tackle problems no one has ever solved.
					Check out our <a href="./jobs">jobs description</a> for what positions we are hiring for and get in touch with us.
				</p>
			</div>
			<div class="clearfix"></div>
		</li>
	</ul>
	
	<ul class="section">
		<h2>Our Investors</h2>
    <p style="font-weight: bold;">We are backed by some of the <a href="http://www.crunchbase.com/company/nowmov" target="_blank">leading startup investors</a>:</p>
		<li>Y Combinator</li>
		<li>SV Angel</li>
		<li>Ashton Kutcher</li>
		<li>Aydin Senkut</li>
		<li>Paul Buchheit</li>
		<li>Shervin Pishevar</li>
		<li>Jeff Clavier</li>
		<li>Charles River Ventures</li>
		<li>Tomorrow Ventures</li>
		<li>Charles Moldow</li>
		<li>Richard Chen</li>
		<li>XG Ventures</li>
	</ul>

	<div class="section">
		<h2>Contact Us</h2>
		<p>
			Send us an email at <a href="mailto:info@nowmov.com">info@nowmov.com</a>
		</p>
	</div>
</div>
