<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f5f5f5">
	<tr>
		<td width="50%"></td>
		<td>
			<table width="572" align="center" cellpadding="0" cellspacing="0">
				<tr>
					<td valign="top">
						<table width="572" cellpadding="0" cellspacing="0">
							<tr>
								<td style="font-size:0; line-height:0;"><img src="none.gif" width="66" height="1"></td>
								<td valign="top">
									<table width="440" cellpadding="0" cellspacing="0">
										<tr>
											<td valign="top">
												<table width="440" cellpadding="0" cellspacing="0">
													<tr>
														<td width="136" style="font-size:0; line-height:0;"><img src="none.gif" width="136" height="1"></td>
														<td valign="top">
															<table width="170" cellpadding="0" cellspacing="0">
																<tr><td height="60" style="font-size:0; line-height:0;"><img src="none.gif" width="1" height="60"></td></tr>
																<tr><td mc:edit="logo" valign="top" style="line-height:0;"><a href="http://nowbox.com"><img src="logo.gif" alt="Nowbox" width="170" height="19" vspace="0" hspace="0" align="left" border="0"></a></td></tr>
															</table>
														</td>
														<td width="70" style="font-size:0; line-height:0;"><img src="none.gif" width="70" height="1"></td>
														<td mc:edit="image" valign="top" style="line-height:0;"><img src="win-ipad-2.gif" alt="Win ipad 2" width="64" height="89" vspace="0" hspace="0" align="left" border="0"></td>
													</tr>
												</table>
											</td>
										</tr>
										<tr><td height="21" style="font-size:0; line-height:0;"><img src="none.gif" width="1" height="21"></td></tr>
										<tr><td valign="top" style="font-size:0; line-height:0;"><img src="bg-shadow.gif" width="440" height="30" vspace="0" hspace="0" align="left"></td></tr>
										<tr><td style="font-size:0; line-height:0;"><img src="none.gif" width="1" height="6"></td></tr>
										<tr>
											<td mc:edit="title" align="center" valign="top" style="text-align:center; font-size:25px; line-height:27px; text-transform:uppercase;">
												<font face="Helvetica, Verdana, sans-serif" size="5" color="#000000" style="font-size:25px; line-height:27px;">
													<b>iPad 2 giveaway contest!</b>
												</font>
											</td>
										</tr>
										<tr><td height="36" style="font-size:0; line-height:0;"><img src="none.gif" width="1" height="36"></td></tr>
										<tr><td width="440" style="font-size:0; line-height:0;" bgcolor="#e3e3e3"><img src="none.gif" width="440" height="1"></td></tr>
										<tr><td style="font-size:0; line-height:0;"><img src="none.gif" width="1" height="32"></td></tr>
										<tr>
											<td valign="top">
												<table width="440" cellpadding="0" cellspacing="0">
													<tr>
														<td style="font-size:0; line-height:0;"><img src="none.gif" width="3" height="1"></td>
														<td valign="top">
															<table width="437" cellpadding="0" cellspacing="0">
																<tr>
																	<td mc:edit="text" valign="top" style="font-size:16px; line-height:26px; font-family:Georgia, Times, serif;">
																		<font face="Georgia, Times, sans;" size="3" color="#555555" style="font-size:16px; line-height:26px;">
																			Hi NOWBOX fans,
																		</font>
																	</td>
																</tr>
																<tr><td style="font-size:0; line-height:0;"><img src="none.gif" width="1" height="16"></td></tr>
																<tr>
																	<td mc:edit="text1" valign="top" style="font-size:16px; line-height:26px; font-family:Georgia, Times, serif;">
																		<font face="Georgia, Times, sans;" size="3" color="#555555" style="font-size:16px; line-height:26px;">
																			Thank you for your interest in NOWBOX!
																			In celebration of our official launch in the Apple App Store, we are organizing a contest and will be <font color="#3c3c3c"><b><i>giving away <font color="#ff5400">FIVE</font> awesome iPad 2 s.</i></b></font>
																		</font>
																	</td>
																</tr>
																<tr><td style="font-size:0; line-height:0;"><img src="none.gif" width="1" height="33"></td></tr>
																<tr>
																	<td mc:edit="text2" valign="top" style="font-size:12px; line-height:16px; text-transform:uppercase;">
																		<font face="Helvetica, Verdana, sans-serif" size="2" color="#ff5400" style="font-size:12px; line-height:16px;">
																			<b>Here's how to enter:</b>
																		</font>
																	</td>
																</tr>
																<tr><td style="font-size:0; line-height:0;"><img src="none.gif" width="1" height="14"></td></tr>
																<tr mc:repeatable="block1">
																	<td valign="top">
																		<table width="437" cellpadding="0" cellspacing="0">
																			<tr>
																				<td mc:edit="text3" width="24" valign="top" style="font-size:16px; line-height:26px; font-family:Georgia, Times, serif;">
																					<font face="Georgia, Times, sans;" size="3" color="#565656" style="font-size:16px; line-height:26px;">
																						1.
																					</font>
																				</td>
																				<td mc:edit="text4" width="413" valign="top" style="font-size:16px; line-height:26px; font-family:Georgia, Times, serif;">
																					<font face="Georgia, Times, sans;" size="3" color="#565656" style="font-size:16px; line-height:26px;">
																						<font color="#000000"><b>Download NOWBOX</b></font> on your iPad
																					</font>
																				</td>
																			</tr>
																		</table>
																	</td>
																</tr>
																<tr mc:repeatable="block2">
																	<td valign="top">
																		<table width="437" cellpadding="0" cellspacing="0">
																			<tr>
																				<td mc:edit="text5" width="24" valign="top" style="font-size:16px; line-height:26px; font-family:Georgia, Times, serif;">
																					<font face="Georgia, Times, sans;" size="3" color="#565656" style="font-size:16px; line-height:26px;">
																						2.
																					</font>
																				</td>
																				<td mc:edit="text6" width="413" valign="top" style="font-size:16px; line-height:26px; font-family:Georgia, Times, serif;">
																					<font face="Georgia, Times, sans;" size="3" color="#565656" style="font-size:16px; line-height:26px;">
																						<font color="#000000"><b>Share</b></font> your favorite videos by clicking on the "heart" icon through Twitter and Facebook.
																					</font>
																				</td>
																			</tr>
																		</table>
																	</td>
																</tr>
																<tr mc:repeatable="block3">
																	<td valign="top">
																		<table width="437" cellpadding="0" cellspacing="0">
																			<tr>
																				<td mc:edit="text7" width="24" valign="top" style="font-size:16px; line-height:26px; font-family:Georgia, Times, serif;">
																					<font face="Georgia, Times, sans;" size="3" color="#565656" style="font-size:16px; line-height:26px;">
																						3.
																					</font>
																				</td>
																				<td mc:edit="text8" width="413" valign="top" style="font-size:16px; line-height:26px; font-family:Georgia, Times, serif;">
																					<font face="Georgia, Times, sans;" size="3" color="#565656" style="font-size:16px; line-height:26px;">
																						<font color="#000000"><b>That's It.</b></font> We will be picking 1 winner  at random every day at 11:59 pm from a pool of those who have shared videos. So start sharing your videos now!
																					</font>
																				</td>
																			</tr>
																		</table>
																	</td>
																</tr>
																<tr><td height="35" style="font-size:0; line-height:0;"><img src="none.gif" width="1" height="35"></td></tr>
																<tr><td mc:edit="button" align="center" valign="top" style="text-align:center; line-height:0;"><a href="/download"><img src="text-app-store.gif" alt="Available on the app store" width="220" height="74" vspace="0" hspace="0" align="center" border="0"></a></td></tr>
																<tr><td height="52" style="font-size:0; line-height:0;"><img src="none.gif" width="1" height="52"></td></tr>
															</table>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
								<td style="font-size:0; line-height:0;"><img src="none.gif" width="66" height="1"></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr><td mc:edit="image1" valign="top" style="font-size:0; line-height:0;"><img src="img3.jpg" width="572" height="7" vspace="0" hspace="0" align="left"></td></tr>
			</table>
		</td>
		<td width="50%"></td>
	</tr>
	<tr>
		<td width="50%" bgcolor="#e0e0e0"></td>
		<td>
			<table bgcolor="#e0e0e0" width="572" align="center" cellpadding="0" cellspacing="0">
				<tr><td mc:edit="image2" valign="top" style="font-size:0; line-height:0;"><img src="img2.jpg" width="572" height="132" vspace="0" hspace="0" align="left"></td></tr>
				<tr><td style="font-size:0; line-height:0;"><img src="none.gif" width="1" height="10"></td></tr>
				<tr>
					<td valign="top">
						<table width="572" cellpadding="0" cellspacing="0">
							<tr>
								<td width="68" style="font-size:0; line-height:0;"><img src="none.gif" width="68" height="1"></td>
								<td mc:edit="text9" width="434" valign="top" style="font-size:11px; line-height:16px;">
									<font face="Helvetica, Verdana, sans-serif" size="1" color="#2f2f2f" style="font-size:11px; line-height:16px;">
										<b>Contest Rules & Restrictions</b><br>
										You must be 18+ years of age and currently reside in one of the 50 U.S. States. By submitting, you are agreeing to the full rules and restrictions. Winners will be picked at random from a pool of users who share their videos.<br>
										Each prize is a 16 GB WiFi iPad 2.<br>
										We will choose one winner for each day and it will last for five days from December 15 to December 19, 2011.
Final entries are due by December 19, 2011 at 11.59 pm PT.<br>
									</font>
								</td>
								<td width="70" style="font-size:0; line-height:0;"><img src="none.gif" width="70" height="1"></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr><td height="80" style="font-size:0; line-height:0;"><img src="none.gif" width="1" height="80"></td></tr>
			</table>
		</td>
		<td width="50%" bgcolor="#e0e0e0"></td>
	</tr>
</table>