<div id="index">	
	
	<div id="main_photo_wrapper">
		<div id="main_photo">
			<img src="/images/photos/89100017.jpg" width="100%" />
		</div>
		<div id="tagline">Rethink video entertainment</div>
	</div>
	<div class="divider bright-blue"></div>

	<div class="wrapper">	
		<div class="section">
			<h1>We are changing how people experience videos</h1>
		
			<p>Its an exciting time with the emergence of <b>portable devices</b> that are always connected, <b>amazing daily content</b> created by professionals and amateurs, and social networks that let you <b>discover entertainment</b> like never before.</p>		
			
			<p>We are <b>launching soon</b>, so <a style="text-decoration: underline;" href="/">signup for an invite</a> and be the first to know when we hit the App Store!</p>
		</div>
	</div>	

</div>