<div id="index">	
	
	<div id="main_photo_wrapper">
		<div id="main_photo">
			<img src="/images/photos/89100017.jpg" width="100%" />
		</div>
		<div class="taglinebox gradient">
			<div id="tagline">Your personal entertainment guide</div>		
		</div>
	</div>
	<div id="home_launch_form" class="darkorange-tile">
		<div class="box">
			<h2><span style="font-weight: bold;">Launching soon.</span> Signup for the early invite list.</h2>
			<%= erb :_launch_form %>
		</div>
	</div>
	<div class="wrapper">	
		<div class="bare section">
			<h1>We are redefining video entertainment</h1>			
			
			<div class="user_quote round-corners-5">
				<div class="quoter_image">
					<a href="https://twitter.com/ajaywaghray/status/85148922707845121" target="_blank"><img src="https://si0.twimg.com/profile_images/1315174887/twitter_normal.jpg" width="48px" height="48px"/></a>
				</div>
				<div class="blurb">
					<div class="quote">&#8220;it's coming to the iPad?! *clank* That was my productivity hitting rock bottom.&#8221;</div>
					<div class="quoter"><a href="https://twitter.com/ajaywaghray/status/85148922707845121" target="_blank">Ajay Waghray</a></div>
				</div>
				<div class="clearfix"></div>
			</div>

			
			<div class="user_quote round-corners-5">
				<div class="quoter_image">
					<a href="http://twitter.com/plc/status/63492845964759040" target="_blank"><img src="https://si0.twimg.com/profile_images/1211432691/avatar-n_normal.jpg" width="48px" height="48px"/></a>
				</div>
				<div class="blurb">
					<div class="quote">&#8220;dangerously addictive&#8221;</div>
					<div class="quoter"><a href="http://twitter.com/plc/status/63492845964759040" target="_blank">Peter Clark</a></div>
				</div>
				<div class="clearfix"></div>
			</div>		
			
			<div class="user_quote round-corners-5">
				<div class="quoter_image">
					<a href="http://twitter.com/AshConway/status/59514034956926977" target="_blank"><img src="https://si0.twimg.com/profile_images/206723739/ASH_2c_normal.png" width="48px" height="48px"/></a>
				</div>
				<div class="blurb">
					<div class="quote">&#8220;Got hooked... Simple UX. Way mobile should be.&#8221;</div>
					<div class="quoter"><a href="http://twitter.com/AshConway/status/59514034956926977" target="_blank">Ash Conway</a></div>
				</div>
				<div class="clearfix"></div>
			</div>							
		</div>

			<div class="user_quote round-corners-5">
				<div class="quoter_image">
					<a href="http://www.redferret.net/?p=21320" target="_blank"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/188045_38977836771_1590607_n.jpg" width="48px" height="48px"/></a>
				</div>
				<div class="blurb">
					<div class="quote">&#8220;Don't watch this unless you have a LOT of time to spare. It is the crack cocaine of online multimedia. You have been warned.&#8221;</div>
					<div class="quoter"><a href="http://www.redferret.net/?p=21320" target="_blank">Red Ferret</a></div>
				</div>
				<div class="clearfix"></div>
			</div>					

			<div class="user_quote round-corners-5">
				<div class="quoter_image">
					<a href="http://m.mumbaimirror.com/index.aspx?Page=article&sectname=Tech%20-%20Website&sectid=22&contentid=20100622201006221800063968181164e" target="_blank"><img src="http://a3.twimg.com/profile_images/392275951/newspaper1600.jpg" width="48px" height="48px"/></a>
				</div>
				<div class="blurb">
					<div class="quote">&#8220;...one of the most simple and brilliant interfaces we have come across in a long time.&#8221;</div>
					<div class="quoter"><a href="http://m.mumbaimirror.com/index.aspx?Page=article&sectname=Tech%20-%20Website&sectid=22&contentid=20100622201006221800063968181164e" target="_blank">Mumbai Mirror</a></div>
				</div>
				<div class="clearfix"></div>
			</div>					
								
	</div>	

</div>


<script>
	$(function(){
		mpmetrics.register( { photo : 3} );
		mpmetrics.track("View Launch Page", {page:'home'});
	});
</script>