<div id="index">	
	
	<div id="main_photo_wrapper">
		<div id="main_photo">
			<img src="/images/photos/89100017.jpg" width="100%" />
		</div>
		<div class="taglinebox gradient">
			<div id="tagline">Your personal entertainment guide</div>		
		</div>
	</div>
	<div id="home_launch_form" class="brightblue-tile">
		<div class="box">
			<h2><span style="font-weight: bold;">Launching soon.</span> Signup for the early invite list.</h2>
			<%= erb :_launch_form %>
		</div>
	</div>
	<div class="wrapper">	
		<div class="bare section">
			<h1>We are redefining video entertainment</h1>			
			
			<div class="user_quote round-corners-5">
				<div class="quoter_image">
					<a href="https://twitter.com/ajaywaghray/status/85148922707845121" target="_blank"><img src="https://si0.twimg.com/profile_images/1315174887/twitter_normal.jpg" width="48px" height="48px"/></a>
				</div>
				<div class="blurb">
					<div class="quote">&#8220;@nowmov it's coming to the iPad?! *clank* That was my productivity hitting rock bottom.&#8221;</div>
					<div class="quoter"><a href="https://twitter.com/ajaywaghray/status/85148922707845121" target="_blank">Ajay Waghray</a></div>
				</div>
				<div class="clearfix"></div>
			</div>
			
			<div class="user_quote round-corners-5">
				<div class="quoter_image">
					<a href="http://twitter.com/KelseyAvers/status/66660096045887488" target="_blank"><img src="https://si0.twimg.com/profile_images/1258401142/img_normal.jpg" width="48px" height="48px"/></a>
				</div>
				<div class="blurb">
					<div class="quote">&#8220;I think @nowmov is becoming my new and improved preference to @YouTube.&#8221;</div>
					<div class="quoter"><a href="http://twitter.com/KelseyAvers/status/66660096045887488" target="_blank">Kelsey Avers</a></div>
				</div>
				<div class="clearfix"></div>
			</div>
			
			<div class="user_quote round-corners-5">
				<div class="quoter_image">
					<a href="http://twitter.com/plc/status/63492845964759040" target="_blank"><img src="https://si0.twimg.com/profile_images/1211432691/avatar-n_normal.jpg" width="48px" height="48px"/></a>
				</div>
				<div class="blurb">
					<div class="quote">&#8220;nowmov is dangerously addictive&#8221;</div>
					<div class="quoter"><a href="http://twitter.com/plc/status/63492845964759040" target="_blank">Peter Clark</a></div>
				</div>
				<div class="clearfix"></div>
			</div>		
			
			<div class="user_quote round-corners-5">
				<div class="quoter_image">
					<a href="http://twitter.com/AshConway/status/59514034956926977" target="_blank"><img src="https://si0.twimg.com/profile_images/206723739/ASH_2c_normal.png" width="48px" height="48px"/></a>
				</div>
				<div class="blurb">
					<div class="quote">&#8220;Got hooked on nowmov yesterday. Simple UX. Way mobile should be.&#8221;</div>
					<div class="quoter"><a href="http://twitter.com/AshConway/status/59514034956926977" target="_blank">Ash Conway</a></div>
				</div>
				<div class="clearfix"></div>
			</div>							
		</div>
	
	</div>	

</div>


<script>
	$(function(){
		mpmetrics.register( { photo : 3} );
		mpmetrics.track("View Launch Page", {page:'home'});
	});
</script>