<div id="index">	
	<%= erb :_call_to_action_quote %>
	
	<div id="video_tour" class="ipad-chrome">
		<iframe src="http://player.vimeo.com/video/25451551?title=0&amp;byline=0&amp;portrait=0" width="470" height="350" frameborder="0"></iframe>
	</div>
	
	<div id="tagline">Your personal entertainment guide.</div>
	
	<div class="appstore">
		<a href="./download/">
			<img src="./images/graphics/appstore-gray.png" height="80px"/>
		</a>
	</div>
</div>