<!--
<div id="main_photo_wrapper" class="shorter">
	<div id="main_photo">
		<img src="/images/photos/89100016.jpg" width="100%" />
	</div>
	<div class="taglinebox gradient">
		<div id="tagline">Work with us</div>
	</div>
</div>
-->
<div class="divider mistyblue-tile"></div>

<div id="jobs" class="wrapper">
	<h1>Work with us</h1>
	<div class="section">
		<h3>Want to be part of the team that redefines TV and mobile video experience?</h3>
		<p>We are building a first-class team to define the best video viewing experience on mobile. We are funded by Y Combinator and other top tier angels and VCs with strong TV/show biz connection. (Well, one of our investors is literally IN the business.)</p>
		<p>Join us to disrupt the TV industry and set a new standard for Post-Set-Top-Box Era!</p>

	</div>

	<ul class="section" style="display: none;">
		<h2>Mobile Engineer</h2>
		<li>Shipped and iterated on iOS applications</li>
		<li>Willing to lead our mobile effort</li>
		<li>Can't wait to start building for iOS 5 (Twitter integration and AirPlay)</li>
		<li>Great hacker with an eye for design and usability</li>
		<li>Rails and Android experience a HUGE plus</li>
	</ul>

	<ul class="section">
		<h2>Lead Designer</h2>
			<p>
			  We are looking for a talented designer to lead our design and usability.
				Do you love defining the absolute best mobile video experience?
				Have you ever introduced an interface metaphor on iOS/Android that got 'copied' by others?
				If so, we would love to hear from you.
				We are also open to contractors as long as we can have your full time attention.
			</p>

		<h3>Responsibilities</h3>
			<li>Define our mobile video and 10-feet experience</li>
			<li>Brainstorm visual design, user experience and feature ideas</li>

		<h3>Requirements</h3>
			<li>Strong visual and interaction design portfolio</li>
			<li>Interactive and User Experience design is a MUST</li>
			<li>Excited about the iOS 5 AirPlay potential</li>
			<li>Can explain your thought process behind design decisions</li>
			<li>Not afraid to remove elements and features completely (we want to keep our experience simple!)</li>

		<h3>Bonus</h3>
			<li>Have shipped iOS applications that have been featured and in App Store's top 20</li>
			<li>Experience with 10 foot user interface</li>
			<li>Experience running usability studies</li>
			<li>Experience with iterating designs based on conversion metrics</li>
			<li>Addicted to YouTube and alike :)</li>
	</ul>

	<div class="section">
		<p style="font-weight: bold;">Ready to disrupt the TV industry with us?</p>
		<p>Please email us links to your iOS/web projects to <a href="mailto:jobs@nowbox.com">jobs@nowbox.com</a>. Yes, we will buy your apps to check out your work!</p>
	</div>
</div>
