<div id="main_photo_wrapper">
	<div id="main_photo">
		<img src="/images/photos/89100016.jpg" width="100%" />
	</div>
	<div id="tagline">Work with us</div>
</div>
<div class="divider bright-blue"></div>


<div id="jobs" class="wrapper">
	<div class="section">
		<h3>Want to be part of the team that defines a completely new video viewing experience?</h3>
		<p>Well here is your chance to set a new standard. Nowmov is building a first-class team to define the best video viewing experience on mobile.</p>
		<p>Our founder is an ex-Apple employee and Y Combinator graduate (Winter 2010); Thomas was responsible for Apple's H.264 encoder implementation.</p><p>We are angel-funded, and our seed round was led by SV Angel.</p>
		<p style="font-weight: bold;">We are always looking for smart and creative people to join us, but if you fit one of the roles below we definitely want to hear from you!</p>
	</div>	
	
	<ul class="section">
		<h2>Mobile Engineer</h2>
		<li>Shipped and iterated on iOS applications</li>
		<li>Willing to lead our mobile effort</li>
		<li>Can't wait to start building for iOS 5 (Twitter integration and AirPlay)</li>
		<li>Great hacker with an eye for design and usability</li>
		<li>Rails and Android experience a HUGE plus</li>	
	</ul>
	
	<ul class="section">
		<h2>Mobile Designer</h2>
			<p>
				Are you the kind of person that appreciates beautiful design in everyday objects? Does the design geek in you get excited when you discover an extremely well designed website? Do you love to be on top of the latest design techniques and trends? If so, we'd love to talk to you! 
			</p>

		<h3>Responsibilities</h3>
			<li>Help define our mobile video experience</li>
			<li>Brainstorm visual design, user experience and feature ideas</li>

		<h3>Requirements</h3>
			<li>Strong visual and interaction design portfolio</li>
			<li>Have shipped iOS applications</li>
			<li>Interactive and User Experience design is a huge plus</li>
			<li>Excited about the iOS 5 AirPlay potential</li>
			<li>Can explain your thought process behind design decisions</li>
			<li>Not afraid to remove elements and features completely (we want to keep our experience simple!)</li>
			
		<h3>Bonus</h3>
			<li>Active on online design communities (Forrst, Dribbble, Behance etc)</li>
			<li>Experience creating icons and other design assets</li>
			<li>Experience running usability studies</li> 
			<li>Experience with iterating designs based on conversion metrics</li>
	</ul>	
	
	<div class="section">
		<p style="font-weight: bold;">Join us to disrupt the mobile video entertainment industry.</p>
		<p>Email a short resume with links to your projects to <a href="mailto:jobs@nowmov.com">jobs@nowmov.com</a>. We will buy your apps to check out your work!</p>
	</div>
</div>