<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>NOWBOX - iPad app for watching YouTube videos.</title>
  <meta name="description" content="Personal TV guide with best of YouTube. NOWBOX App is downloadable on iPad.">
  <meta name="author" content="NOWBOX">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <script type="text/javascript" src="http://use.typekit.com/qqz7uva.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link href="/css/main_new.css" type="text/css" rel="stylesheet" >

	<meta name="viewport" content="width=960">
</head>
<body class="<%= @path %>">
  <div class="background">
    <div class="ipad-background"></div>
	<div class="wrapper">
		<header>
			<%= erb :_header %>
		</header>
		<div id="main">
        <div class="description tk-futura-pt">
        It's your set-top box, everything you want to watch in one place.
        <a href="http://nowbox.com/download" class="appstore" target="_blank">Available on the App Store</a>
        </div>

        <div class="quote tk-futura-pt">
          Your personalized TV guide
        </div>
		</div>
		<div id="features">
        <div class="feature1 feature">
          Swipe to next video.<br />
          Pinch to go full screen.
        </div>
        <div class="feature2 feature">
          Top YouTube channels<br />
          in each category
        </div>
        <div class="feature3 feature">
          AirPlay with AppleTV<br />
          experience the future
        </div>
        <div class="follows">
          <a class="twitter-btn" href="http://twitter.com/nowbox" target="_blank"></a>
          <p>Follow us</p>
          <a class="facebook-btn" href="http://facebook.com/nowbox" target="_blank" ></a>
        </div>
	  </div>

		<div class="push"></div>
	</div>
    <footer>

    </footer>
  </div>
	<%= erb :_layout_scripts %>
</body>
</html>