<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
	<title>NOWBOX iPad 2 Giveaway!</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<style type="text/css">
		body {margin:0;}
		.ExternalClass {display:block !important;}
	</style>
	<base href="/images/giveaway/" />

</head>
<body marginheight="0" marginwidth="0" leftmargin="0" topmargin="0" bgcolor="#f5f5f5">
	<%= yield %>

	<script>
		var _gaq=[['_setAccount','UA-17523193-1'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>

	<!-- Segment Pixel - nowbox visitors - DO NOT MODIFY -->
	<script src="http://ib.adnxs.com/seg?add=214864&t=1" type="text/javascript"></script>
	<!-- End of Segment Pixel -->
</body>
</html>
