<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
		<%= erb :_layout_head %>
		<meta name="viewport" content="width=device-width, initial-scale=0.575">	
		<link rel="stylesheet" href="./css/error.css?v=2" type="text/css">	
</head>
<body  id="not_found">
	<header>
		<%= erb :_header %>
	</header>
	<div class="error_page" role="main">
		<%= yield %>
	</div>

	<%= erb :_layout_scripts %>	
</body>
</html>