<div class="divider orange-tile"></div>

<div id="press" class="wrapper">	
		<div class="bare section">
			<h1>The Buzz</h1>			
	
	
			<div class="user_quote round-corners-5">
				<div class="quoter_image">
					<a href="http://techcrunch.com/2010/05/07/yc-funded-nowmov-sit-back-relax-and-watch-an-endless-stream-of-youtube-videos/" target="_blank"><img src="http://a1.twimg.com/profile_images/1440079154/-5_reasonably_small.jpg" width="48px" height="48px"/></a>
				</div>
				<div class="blurb">
					<div class="quote">&#8220;...lay back as if you were watching TV, without having to figure out what you want to watch next&#8221;</div>
					<div class="quoter"><a href="http://techcrunch.com/2010/05/07/yc-funded-nowmov-sit-back-relax-and-watch-an-endless-stream-of-youtube-videos/" target="_blank">TechCrunch</a></div>
				</div>
				<div class="clearfix"></div>
			</div>
			
			<div class="user_quote round-corners-5">
				<div class="quoter_image">
					<a href="http://techcrunch.com/2010/06/05/democratizing-talent-guy-oseary-greyson-chance-nowmov-indiegogo-and-the-future-of-talent/" target="_blank"><img src="http://a1.twimg.com/profile_images/1440079154/-5_reasonably_small.jpg" width="48px" height="48px"/></a>
				</div>
				<div class="blurb">
					<div class="quote">&#8220;Their vision: to use the collective intelligence of the masses to watch the most popular videos and content on the Internet in real-time...The idea of creating customizable channels programmed by the hearts and souls of humanity moved me.&#8221;</div>
					<div class="quoter"><a href="http://techcrunch.com/2010/06/05/democratizing-talent-guy-oseary-greyson-chance-nowmov-indiegogo-and-the-future-of-talent/" target="_blank">TechCrunch</a></div>
				</div>
				<div class="clearfix"></div>
			</div>
			
			<div class="user_quote round-corners-5">
				<div class="quoter_image">
					<a href="http://www.thetrendwatch.com/2010/05/12/nowmov-an-endless-stream-of-good-youtube-video/" target="_blank"><img src="http://a2.twimg.com/profile_images/422997454/tw_small_reasonably_small.jpg" width="48px" height="48px"/></a>
				</div>
				<div class="blurb">
					<div class="quote">&#8220;...intuitive, mindless and depending on your appetite for real-time video, quite possibly addicting.&#8221;</div>
					<div class="quoter"><a href="http://www.thetrendwatch.com/2010/05/12/nowmov-an-endless-stream-of-good-youtube-video/" target="_blank">The Trend Watch</a></div>
				</div>
				<div class="clearfix"></div>
			</div>		
			
			<div class="user_quote round-corners-5">
				<div class="quoter_image">
					<a href="http://venturebeat.com/2010/03/23/nowmov/" target="_blank"><img src="http://a3.twimg.com/profile_images/1464112005/VB_reasonably_small.png" width="48px" height="48px"/></a>
				</div>
				<div class="blurb">
					<div class="quote">&#8220;...emphasizing real-time popularity, and recreating the TV experience could prove sticky&#8221;</div>
					<div class="quoter"><a href="http://venturebeat.com/2010/03/23/nowmov/" target="_blank">Venture Beat</a></div>
				</div>
				<div class="clearfix"></div>
			</div>							

			<div class="user_quote round-corners-5">
				<div class="quoter_image">
					<a href="http://gigaom.com/video/new-y-combinator-video-startups-zencoder-embedster-nowmov-embedly/" target="_blank"><img src="http://a0.twimg.com/profile_images/65489652/newteeveelogo_reasonably_small.jpg" width="48px" height="48px"/></a>
				</div>
				<div class="blurb">
					<div class="quote">&#8220;This company is trying to create an "easy lean-back TV experience" by using real-time data about what people are sharing to create a video playlist&#8221;</div>
					<div class="quoter"><a href="http://gigaom.com/video/new-y-combinator-video-startups-zencoder-embedster-nowmov-embedly/" target="_blank">GigaOm (NewTeeVee)</a></div>
				</div>
				<div class="clearfix"></div>
			</div>		
			
			<div class="user_quote round-corners-5">
				<div class="quoter_image">
					<a href="http://www.redferret.net/?p=21320" target="_blank"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/188045_38977836771_1590607_n.jpg" width="48px" height="48px"/></a>
				</div>
				<div class="blurb">
					<div class="quote">&#8220;Don't watch this unless you have a LOT of time to spare. It is the crack cocaine of online multimedia. You have been warned.&#8221;</div>
					<div class="quoter"><a href="http://www.redferret.net/?p=21320" target="_blank">Red Ferret</a></div>
				</div>
				<div class="clearfix"></div>
			</div>					

			<div class="user_quote round-corners-5">
				<div class="quoter_image">
					<a href="http://m.mumbaimirror.com/index.aspx?Page=article&sectname=Tech%20-%20Website&sectid=22&contentid=20100622201006221800063968181164e" target="_blank"><img src="http://a3.twimg.com/profile_images/392275951/newspaper1600.jpg" width="48px" height="48px"/></a>
				</div>
				<div class="blurb">
					<div class="quote">&#8220;...one of the most simple and brilliant interfaces we have come across in a long time.&#8221;</div>
					<div class="quoter"><a href="http://m.mumbaimirror.com/index.aspx?Page=article&sectname=Tech%20-%20Website&sectid=22&contentid=20100622201006221800063968181164e" target="_blank">Mumbai Mirror</a></div>
				</div>
				<div class="clearfix"></div>
			</div>					
								
																
		</div>			
</div>
