<div id="main_photo_wrapper" class="shorter">
	<div id="main_photo">
		<img src="/images/photos/89100011-shorter.jpg" width="100%" />
	</div>
	<div class="taglinebox gradient">
		<div id="tagline">Show and Tell</div>
	</div>
</div>
<div class="divider brightblue-tile"></div>

<div id="tour" class="wrapper">
	<div class="bare section slide-controller">
		<ul class="slidenav round-top-right-5 round-top-left-5">
			<li class="active">
				<a href="/tour">
					<div class="image"><img src="/images/graphics/aji-tour_subscribtions.png" height="75px"></div>
					<div class="title">Subscriptions</div>
					<div class="description">Subscribe to your favorite channels</div>
				</a>
			</li>		
			<li>
				<a href="/tour">
					<div class="image"><img src="/images/graphics/aji-tour_gestures.png" height="75px"></div>
					<div class="title">Gestures</div>
					<div class="description">Effortless and intuitive interactions</div>				
				</a>
			</li>		
			<li>
				<a href="/tour">
					<div class="image"><img src="/images/graphics/aji-tour_airplay.png" height="75px"></div>
					<div class="title">AirPlay</div>
					<div class="description">From your Tablet to your Big Screen</div>
				</a>
			</li>		
			<div class="clearfix"></div>						
		</ul>
		<ul class="slides round-bottom-right-5 round-bottom-left-5">
			<li class="active">
				<div class="image"><img src="/images/tour/full-screen-video.png" width="100%"></div>
				<div class="description">
					With the nowmov app, you're able to subscribe to all your favorite channels from a variety of popular categories. 
See what your friends are watching by subscribing to their own custom nowmov channels.
				</div>
			</li>

			<li>
				<div class="image"><img src="/images/tour/list-view.png" width="100%"></div>
				<div class="description">Navigate the app with a few simple motions</div>
			</li>
			
			<li>
				<div class="image"><img src="/images/tour/split-view.png" width="100%"></div>
				<div class="description">
					The nowmov app enables you to turn your iPad into your very own customized cable box. You're now able to see what your friends are watching and what's popular on the web on your TV screen at home. 
				</div>
			</li>			

		</ul>
	</div>


	<!--
	<div id="video_tour" class="ipad-chrome">
		<iframe src="http://player.vimeo.com/video/25451551?title=0&amp;byline=0&amp;portrait=0" width="470" height="350" frameborder="0"></iframe>
	</div>
		
	<div class="section lite-gray" style="display: none;">
		<h2>List View</h2>
		<div class="ipad-chrome">
			<img src="./images/tour/list-view.png"/>
		</div>
	</div>	

	<div class="section lite-gray">
		<h2>A Personalized Entertainment Guide</h2>
		<div class="ipad-chrome">
			<img src="./images/tour/split-view.png"/>
		</div>
		<div class="intro">
			<p>A guide to all your favorite channels. You control what channels you want. We source the videos from the best sources around the Internet.</p>
		</div>
	</div>

	<div class="section lite-gray">
		<h2>A Simple, Intuitive Viewing Experience</h2>
		<div class="ipad-chrome">
			<img src="./images/tour/full-screen-video.png"/>
		</div>
		<div class="intro">
			<p>Videos play continuously, just like TV. Swipe to easily switch to the next video.</p>
		</div>
	</div>
-->

	<%= erb :_call_to_action_download %>

</div>