<div id="main_photo_wrapper" class="shorter">
	<div id="main_photo">
		<img src="/images/photos/89100011-shorter.jpg" width="100%" />
	</div>
	<div class="taglinebox gradient">
		<div id="tagline">Show and Tell</div>
	</div>
</div>
<a name="page"></a>
<div class="divider orange-tile"></div>

<div id="tour" class="wrapper">
	<div class="bare section slide-controller">
		<ul class="slidenav round-top-left-5 round-top-right-5">
			<li class="active">
				<a href="#page" class="round-top-left-5">
					<div class="image"><img src="/images/graphics/aji-icons_subscribe.png" height="75px"></div>
					<div class="title">Subscribe</div>
					<div class="description">Customize your channel guide</div>
				</a>
			</li>		
			<li>
				<a href="#page">
					<div class="image"><img src="/images/graphics/aji-tour_gestures.png" height="75px"></div>
					<div class="title">Swipe</div>
					<div class="description">Quick and effortless interactions</div>				
				</a>
			</li>		
			<li>
				<a href="#page" class="round-top-right-5">
					<div class="image"><img src="/images/graphics/aji-tour_airplay.png" height="75px"></div>
					<div class="title">Play</div>
					<div class="description">AirPlay takes your tablet to the big screen</div>
				</a>
			</li>		
			<div class="clearfix"></div>						
		</ul>
		<ul class="slides round-bottom-right-5 round-bottom-left-5">
			<li class="active">
				<div class="intro">
					Finally -- a TV guide with <b>you</b> in control. Subscribe to one of our categorized channels or keep in touch with what the rest of the world is watching with our Twitter trending channel.
				</div>			
				<div class="image"><img src="/images/tour/subscribe_3.png" width="100%"></div>
				<div class="description">Choose from a wide variety of popular channels</div>
				
				<div class="image"><img src="/images/tour/subscribe_1.png" width="100%"></div>
				<div class="description">Subscribe to your favorite Twitter and YouTube profiles</div>
			</li>

			<li>
				<div class="intro">
					There are only a few <b>simple motions</b> needed to navigate the nowmov app!
				</div>
				<div class="image"><img src="/images/tour/step1.png" width="100%"></div>
				<div class="description">Swipe left and right to navigate videos</div>
				
				<div class="image"><img src="/images/tour/step2.png" width="100%"></div>
				<div class="description">4 fingers swipe up and down to switch between full and split channel view</div>				
			</li>
			
			<li>
				<div class="intro">
The nowmov app enables you to <b>turn your iPad into your very own customized cable box.</b> You're now able to see what your friends are watching and what's popular on the web on your TV screen at home. No more letting your cable company decide what channels are for you.
				</div>			
				<div class="image"><img src="/images/tour/aji-graphics_airplay.png" width="100%"></div>
				<div class="description">
					Use nowmov with an AppleTV and big screen TV - perfect for getting together with friends in your living room and watching the best online videos
				</div>
			</li>			

		</ul>
	</div>


	<!--
	<div id="video_tour" class="ipad-chrome">
		<iframe src="http://player.vimeo.com/video/25451551?title=0&amp;byline=0&amp;portrait=0" width="470" height="350" frameborder="0"></iframe>
	</div>
		
	<div class="section lite-gray" style="display: none;">
		<h2>List View</h2>
		<div class="ipad-chrome">
			<img src="./images/tour/list-view.png"/>
		</div>
	</div>	

	<div class="section lite-gray">
		<h2>A Personalized Entertainment Guide</h2>
		<div class="ipad-chrome">
			<img src="./images/tour/split-view.png"/>
		</div>
		<div class="intro">
			<p>A guide to all your favorite channels. You control what channels you want. We source the videos from the best sources around the Internet.</p>
		</div>
	</div>

	<div class="section lite-gray">
		<h2>A Simple, Intuitive Viewing Experience</h2>
		<div class="ipad-chrome">
			<img src="./images/tour/full-screen-video.png"/>
		</div>
		<div class="intro">
			<p>Videos play continuously, just like TV. Swipe to easily switch to the next video.</p>
		</div>
	</div>
-->

	<%= erb :_call_to_action_download %>

</div>