<div id="tour" class="wrapper">
	<h1>Show and Tell</h1>

	<div class="section" style="font-size: 16px;">
		<p>We are trying to craft a <b>beautiful viewing experience</b> for <b>video entertainment</b>.</p>
		<p>Here's what we've been working on.</p>
	</div>

	<div id="video_tour" class="ipad-chrome">
		<iframe src="http://player.vimeo.com/video/25451551?title=0&amp;byline=0&amp;portrait=0" width="470" height="350" frameborder="0"></iframe>
	</div>
	
	<!--
	
	<div class="section lite-gray" style="display: none;">
		<h2>List View</h2>
		<div class="ipad-chrome">
			<img src="./images/tour/list-view.png"/>
		</div>
	</div>	

	<div class="section lite-gray">
		<h2>A Personalized Entertainment Guide</h2>
		<div class="ipad-chrome">
			<img src="./images/tour/split-view.png"/>
		</div>
		<div class="intro">
			<p>A guide to all your favorite channels. You control what channels you want. We source the videos from the best sources around the Internet.</p>
		</div>
	</div>

	<div class="section lite-gray">
		<h2>A Simple, Intuitive Viewing Experience</h2>
		<div class="ipad-chrome">
			<img src="./images/tour/full-screen-video.png"/>
		</div>
		<div class="intro">
			<p>Videos play continuously, just like TV. Swipe to easily switch to the next video.</p>
		</div>
	</div>
-->

	<%= erb :_call_to_action_download %>

</div>