<div id="video">
	<div id="sharer" style="display: none;">Hi, #share.user.first_name is sharing a video with you.</div>

	<%= erb :_call_to_action_download %>

  <div id="embed">
		<iframe width="600" height="375" src="http://www.youtube.com/embed/lebW9zBtYnM?rel=0&hd=1&modestbranding=1&autohide=1&controls=1" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
